@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.carr button:hover+body {
    background-color: blue;
}

.contenedorCat {
    width: 100%;
    margin: 0 auto;

}

.contenedorCat h1 {
    letter-spacing: -2px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-size: 300%;
    margin: 0%;
    color: rgb(176, 169, 255);
}

.contenedorCat h3 {
    padding-bottom: 25px;
    text-shadow: 0px 0px 2px rgb(72, 72, 72);
    font-family: 'Questrial', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: rgb(214, 216, 255);
    margin: 0%;
}

.centro {
    border-radius: 20px;
    margin: 0 auto;
    padding: 50px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 50%;

}

.categorias {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    gap: 5px;
}

.carr {
    cursor: pointer;
    opacity: 1;
    border: none;
    transition: 0.3s;
}

.carr button:hover {
    border: none;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgb(61, 61, 61);
    background-color: rgb(0, 81, 211);
}

.button:focus+.categoriasCARRERA {
    background-color: rgb(221, 226, 255);
}

.carr button {
    color: white;
    border: none;
    transition: 0.3s;
    border: 1px solid rgb(0, 5, 149);
    font-size: 18px;
    gap: 5px;
    border-radius: 5px;
    width: 170px;
    height: 250px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    background-color: rgb(44, 55, 117);
}

@media (max-width: 1100px) {
    .categorias {
        margin: 0 auto;
    }

    .centro {
        width: calc(75% - 50px);
    }
}

@media (max-width: 980px) {
    .categorias {
        margin: 0 auto;
    }

    .centro {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(75% - 50px);
    }
}

@media (max-width: 798px) {}

.centro {
    border-radius: 3px;
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
    width: 97%;
    padding-bottom: 10%;
    height: calc(110% - 55px);

}

.Contenido {
    padding-top: 15px;
    margin-bottom: 10%;
}

.categorias {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.carr button {

    font-size: 90%;
    width: 100%;
    height: 100%;
}

.DSM button {
    animation: sizingDSM 10s infinite;
}

.IGDSM button {
    animation: sizingIGDSM 10s infinite;
}

.IGIRD button {
    animation: sizingIGIRD 10s infinite;
}

.IRD button {
    animation: sizingIRD 10s infinite;
}

.carr {

    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    width: 45%;
    height: 200px;
    padding: 0px;
}

.DSM {
    transition: 0.3s;
}

.DSM button {
    cursor: pointer;
}

.IGDSM button {
    cursor: pointer;
}

.IRD button {
    cursor: pointer;
}

.IGIRD button {
    cursor: pointer;
}

@keyframes sizingDSM {
    0% {
        transform: translateX(-10%);
        transition: 300ms;
        width: 75%;
        margin-right: 10%;
    }

    25% {
        transform: translateX(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        height: 100%;
        transform: translateY(0%);
        margin-left: 0%;
    }

    50% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 125%;
        margin-right: 0%;
        margin-left: 0%;
    }

    75% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 100%;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    100% {
        transform: translateX(-10%);
        transition: 300ms;
        width: 75%;
        margin-right: 10%;
    }

}

@keyframes sizingIGDSM {
    0% {
        transform: translateX(-20%);
        transition: 300ms;
        width: 125%;
        margin-right: -20%;
    }

    25% {
        height: 100%;
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    50% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 75%;
        margin-right: 0%;
        margin-left: 0%;
    }

    75% {
        height: 100%;
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    100% {
        transform: translateX(-20%);
        transition: 300ms;
        width: 125%;
        margin-right: -20%;
    }

}



@keyframes sizingIGIRD {
    0% {
        transform: translateX(10%);
        transition: 300ms;
        width: 75%;
        margin-right: -10%;
    }

    25% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    50% {
        transform: translateX(0%);
        transform: translateY(-20%);
        transition: 300ms;
        height: 125%;
        margin-right: 0%;
        margin-left: 0%;
    }

    75% {
        transform: translateY(0%);
        transform: translateX(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    100% {
        transform: translateX(10%);
        transition: 300ms;
        width: 75%;
        height: 100%;
        margin-right: -10%;
    }

}

@keyframes sizingIRD {
    0% {
        transform: translateX(0%);
        transition: 300ms;
        width: 125%;
        margin-left: 0%;
    }

    25% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    50% {
        transform: translateX(0%);
        transform: translateY(33%);
        transition: 300ms;
        height: 75%;
        margin-right: 0%;
        margin-left: 0%;
    }

    75% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }

    100% {
        transform: translateX(0%);
        transition: 300ms;
        width: 125%;
        margin-left: 0%;
    }

}