.cajas {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
}

#matriText {
    color: red;
    font-size: 13px;
}

.cajas .renglon {
    gap: 0px;
    width: 46%;
    text-align: left;
    padding: 0px;
}

.cajas .renglon #IzqTextH {
    margin-bottom: 5px;
    font-weight: bold;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

h10 {
    width: 100%;
}
.Div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedorCat {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 50%;
    box-shadow: 0px 0px 2px 0px black;
    background-color: rgb(0, 43, 118);
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;

}

.contenedorCat h1 {
    text-align: center;
    font-size: 55px;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedorCat h3 {
    text-align: center;
}

.contenedorCat input::placeholder {
    color: rgb(0, 0, 0);
}

.contenedorCat input:hover::placeholder {
    -webkit-animation: 0.3s;
    font-weight: bold;
}

.contenedorCat input:hover {
    transition: 0.3s;
    background-color: rgb(187, 238, 255);
}

.boton {
    margin-top: 50px;
    background-color: rgb(127, 138, 255);
}

.boton:hover {
    transition: 0.4s;
    font-size: 31px;
    color: rgb(105, 88, 255);
    padding: 22px 47px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.botonN {
    transition: 0.4s;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(69, 69, 69);
}

.botonN:hover {
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    font-size: 31px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 22px 47px;
    border-radius: 5px;
    background-color: rgb(109, 0, 18);
}

.botonSubir {
    cursor: pointer;
    transition: 0.4s;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px 45px;
    border-radius: 5px;
    background-color: rgb(127, 138, 255);
}

.contenedorCat input:focus {
    transition: 0.4s;
    background-color: rgb(152, 246, 255);
    border-bottom: 2px solid rgb(0, 38, 255);
}

.contenedorCat select:focus {
    transition: 0.4s;
    background-color: rgb(152, 246, 255);
    border-bottom: 2px solid rgb(0, 38, 255);
}

#userText2 {
    text-shadow: 0px 0px 1px white;
    margin-top: -15px;
    font-size: 14px;
    opacity: 0;
}

#userText {
    text-shadow: 0px 0px 1px white;
    margin-top: -15px;
    font-size: 14px;
    opacity: 0;
}

#passText {
    text-shadow: 0px 0px 1px white;
    font-size: 14px;
    opacity: 0;
}

#correoText {
    word-spacing: -1px;
    text-shadow: 0px 0px 1px white;
    font-size: 12px;
    opacity: 0;
}

#IRD {
    display: none;
}

#IGIRD {
    display: none;
}

#DSM {
    display: none;
}

#IGDSM {
    display: none;
}

.colorverde {
    animation: colorverde 5s forwards;
}

.colorverde:not(:focus) {
    animation: colorverde 5s forwards;
}

@keyframes colorverde {
    from {
        transition: 1s;
        border-bottom: 3px solid rgb(72, 238, 43);
    }

    to {
        transition: 1s;
        border-bottom: 2px solid rgb(0, 0, 0);
    }
}

.cajas .renglons {
    gap: 0px;
    margin: 2px 0px 0px 0px;
    width: 100%;
    text-align: left;
    padding: 0px;
}

.cajas .renglons #IzqTextH {
    margin-bottom: 5px;
    font-weight: bold;
}

.renglon select {
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    transition: 0.3s;
    margin-top: 4px;
    margin-bottom: 0px;
    border-bottom: 2px solid black;
    margin-right: 0px;
    margin-left: 0%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 5px;
    background-color: rgb(221, 228, 255);
}

.renglons select {
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    transition: 0.3s;
    margin-top: 4px;
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 5px;
    background-color: rgb(221, 228, 255);
}

#IzqTextH {}

.renglon input {
    margin-top: 4px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 5px;
    background-color: rgb(221, 228, 255);
}
.grupos1,
.grupos2,
.grupos3,
.grupos4,
.grupos5,
.grupos6,
.grupos7,
.grupos8,
.grupos9,
.grupos10,
.grupos11,
.grupos12,
.grupos13,
.grupos14,
.grupos15,
.grupos16,
.grupos17,
.grupos18,
.grupos19,
.grupos20,
.grupos21,
.carrera,
.IG,
.TSU,
.grupos22 {
    display: none;
}

#dateText {
    font-size: 12.5px;
}