
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
        table {
            border-collapse: collapse;
            width: 100%;
            background-color: white;
    border-spacing: 0;
        border-collapse: collapse;
        table-layout: fixed;
        box-sizing: border-box;
        display: table;
        }
        .Entradas {
            text-align: left;
        }
        .EntradasUno {
        }
        .EntradasTres {
            display: flex;

        }
        .Boton {
            margin: 40px;
            padding: 12px 17px;
            font-size: 16px;
            background-color: azure;
            border: 2px solid blue;
        }
        .Entradas input:not(.Boton) {
            margin: 4px;
            padding: 7px 12px;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid blue;
            
        }
        th {
            text-align: center;
            background-color: rgb(143, 182, 227);
            border: 1px solid rgb(198, 198, 198);
            color: #ffffff;
                padding: 8px;
                text-align: left;
                transition: 0.3s;
        }
        tr:hover:not(th) {
            transition: 0.3s;
            background-color: #c4d1ff;
        }
        td {
            border: 1px solid rgb(219, 219, 219);
            padding: 8px;
                        transition: 0.3s;
            text-align: left;
        }
* {
     font-family: 'Inter', sans-serif;
     transition: all 00ms;
}
body {
    word-wrap: break-word;
    margin: 0;
}
.material-symbols-outlined {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    padding-top: 5px;
    margin-top: -2.5px;
    color: rgb(0, 0, 0);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.inicio {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 2px 10px;
}

.inicio:hover {
    background-color: rgb(220, 220, 220);
}
.menu:focus::after {
    background-color: white;
}
.inicio .logoDesktop {
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    height: 46px;
    object-fit: contain;
}
.inicio .logo a {
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
}
.inicio .logo {
    align-items: center;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  
    display: none;
    padding-left: 0px;
    height: 45px;
    object-fit: contain;
}
@keyframes showRightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
.izquierda.visible {
    transition: transform 0.3s;
    display: inline;
  }

.invisible {
    display: inline;
    width: 236px;       
    overflow-y: none;
    overflow-x: none;
    animation: showRightToLeft 0.3s forwards;
    transform: translateX(0%);
    margin-top: 56px;
    height: 500px;
    margin-left: 0%;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    background-color: white;
    padding: 0%;
    padding-left: 0;
    border-right: solid 1px rgb(198, 198, 198);
    position: fixed;
    padding-right: 0;
}
@keyframes showLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 444px) { 
    .inicio .logoDesktop {
        user-select: none;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;  
      display: none;
     } .inicio .logo {
        user-select: none;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;  
      display: inline;
    }
    .auth-links {
        font-size: 12px;
        gap: 2.5px;
    }
    .auth-links .register {
        border: solid 1px rgb(255, 255, 255);
    }
    .izquierda {
    }
}
@media (max-width: 310px) {
    .encabezado {
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    
    .barra {
      display: inline-flex;
      flex-wrap: nowrap;
    }
    
    .barra > * {
      flex: 0 0 auto;
    }
  }
.encabezado {
    align-content: center;
    display: flex;
    z-index: 999;
    top: 0%;
    color: rgb(0, 0, 0);
    width: 100%;
    align-content: center;
    align-items: center;
    height: calc(56px - 0px);
    position: fixed;
    box-sizing: border-box;
    margin: 0%;
    border-bottom: 2px solid rgb(0, 55, 255);
    background-color: rgb(255, 255, 255);
}
.barra {
    width: 100%;
    display: flex;
    margin: 0%;
    box-sizing: border-box;
    align-self: center;
    padding: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.barra .menu {
    visibility: hidden;
    background-color: white;
    box-sizing: border-box;
    padding: 12.5px 13.7px 12px 13.7px;
}
.barra .menu:hover {
    background-color: rgb(220, 220, 220);
}
.barra .menu:focus {
    text-decoration: none;
}
.auth-links {
    align-content: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 5px;
}
.auth-links .register img {
    width: 30px;
    margin-top: -2px;
    margin-left: -3.5px;
    height: 34px;
}
.circle:focus {
    text-decoration: none;
}
.circle {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid blue;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #4285F4; /* Cambia el color de fondo según tus preferencias */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    }
.auth-links .register {
    width: 22px;
    height: 35px;
    border: solid 3px rgb(0, 21, 255);
    border-radius: 120px;
    padding: 4.60% 10%;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 20px;
    transition: 100ms;
    margin-right: 10px;
    transition: 300ms;
    background-color: rgb(255, 255, 255);
}
.auth-links .register:hover,
.auth-links .register:hover a {
  background-color: rgb(227, 227, 227);
  color: rgb(0, 81, 211);
  transition: 300ms;
}
.auth-links .register a {
    transition: 0ms;
    color: rgb(0, 17, 255);
    font-weight: bold;
}

.auth-links .login {
    font-weight: bold;
    border: solid 1px rgb(0, 39, 123);
    border-radius: 6px;
    padding: 8px 10px;
    transition: background-color 200ms;
}
.auth-links .login:hover,
.auth-links .login:hover a {
    color: white;
    background-color: rgb(96, 96, 96);
}
.encabezado a {
    transition: 200ms;
    height: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-stretch: normal;
}
.contenedor {
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    padding: 0px;
    box-sizing: inherit;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.izquierda  {
    transition: transform 0.3s;
    overflow-y: auto;
    padding-left: 0;
    width: calc(20% - 20px);
    border-right: solid 1px rgb(198, 198, 198);
    padding-top: 7%;
    margin-top: 3.7%;
    position: fixed;
    padding-right: 0;
    height: 100%;
}
.izquierda::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
}
.izquierda::-webkit-scrollbar-thumb:hover {
    background-color: rgb(125, 125, 125);
}
.izquierda::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(150, 150, 150);
}
.selected:hover {
    background-color: rgb(203, 236, 255);
}
.selected {
    border-right: 4px solid rgb(47, 0, 255);
  font-variation-settings:
  'FILL' 0,
  'wght' 00,
  'GRAD' 0,
  'opsz' 250;
    background-color: rgb(203, 236, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 4%;
    padding-left: 15%;
    font-weight: 0;
    font-size: 13px;
    cursor: pointer;
}
.homes {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    align-content: center;
    padding-top: 4%;
    padding-left: 4%;
    box-sizing: border-box;
    padding-bottom: 4%;
}
.home {
    font-size: 13px;
    margin-top: 0.5%;
    padding: 0px;
    margin-bottom: -0.5%;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 5;
}
.contenidoIzq .izqCat:hover {
    cursor: pointer;
    background-color: aliceblue;
}
.izqCat {
    padding: 4%;
    padding-left: 15%;
    font-weight: 0;
    font-size: 13px;

}
.contenidoIzq {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    text-align: left;
    color: rgb(0, 0, 0);
}
.textoIzq {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;

}
.piePag {
    background-color: black;
    margin-top: calc(100% - 10%);
    width: 100%;
}
.Contenido {
    width: 100%;
    padding: 0%;
    margin-right: 0%;
    margin-top: 76px;
    margin-left: calc(20% - 20px);
}
@media (max-width: 798px) { 
    .Contenido {
        margin-left: 0px;
        }
    .izquierda {
        width: 236px;       
        overflow-y: none;
        overflow-x: none;
        animation: showLeftToRight 0.3s forwards;
        transform: translateX(-100%);
        display: none;
        margin-top: 56px;
        height: 500px;
        margin-left: 0%;
        transition: opacity 0.3s ease-in-out;
        z-index: 1;
        background-color: white;
        padding: 0%;
    }
    .iconsIzq {
        padding-left: 0%;
        justify-content: center;
        text-align: center;
    }
    .home {
        padding: 13% 13% 10% 10%;
        margin: 0 auto;
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 100,
        'opsz' 35;
    }

    .selected {
        z-index: 999;
        border-right: 4px solid rgb(47, 0, 255);
        background-color: rgb(203, 236, 255);
        color: rgb(0, 0, 0);
        font-variation-settings:
        'FILL' 10,
        'wght' 10,
        'GRAD' 10,
        'opsz' 10;
        font-weight: bolder;
    }
    .selectHome {
        background-color: rgb(230, 230, 230);
        color: rgb(0, 0, 0);
        font-weight: bolder;
    
    }
    .izqCat {
        margin-right: 99px;
        padding: 4%;
        padding-left: 3%;
        font-weight: 0;
        width: 100%;
        font-size: 17px;
    
    }
    .contenidoIzq {
        margin-right: 0px;
        padding-right: 0%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-left: 0%;
        width: 100%;
        margin-left: 0%;
        justify-content: left;
        text-align: left;
        color: rgb(0, 0, 0);
    }
    .textoIzq {
    
    }
}
/*YA NO ES GLOBAL*/
.contenedorCat {
    width: 100%;
    margin: 0 auto;

}
.contenedorCat h1 {
    letter-spacing: -5px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-size: 60px;
    margin: 0%;
    color: rgb(0, 0, 0);
}
.contenedorCat h3 {
    padding-bottom: 25px;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    font-family: 'Questrial', sans-serif;font-family: 'Questrial', sans-serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 0%;
}
.centro {
    margin: 0 auto;
    background-color: rgb(237, 244, 255);
    padding: 20px;
    overflow: auto;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    width: 97%;
    height: 100%;
    
}
.categorias {
    padding-bottom: 15px;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    gap: 30px;
}

.carr {
    opacity: 1;
}
.carr button {
    border: 1px solid rgb(0, 8, 255);
    font-size: 18px;
    gap: 5px;
    border-radius: 5px;
    width: 170px;
    height: 250px;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 1100px) {
    .categorias {
    margin: 0 auto;
    }
    .centro {
    padding-left: 100px;
    padding-right: 100px;
    width:  100%;
    }
}
@media (max-width: 980px) {
    .categorias {
    margin: 0 auto;
    }
    .centro {
    padding-left: 20px;
    padding-right: 20px;
    width:  97%;
    }
}
@media (max-width: 798px) { 
    .centro {
        border-radius: 3px;
        padding: 5px;
        word-wrap: break-word;
        text-align: center;
        margin: 0 auto;
        width: 97%;
        padding-bottom: 10%;
        height: calc(110% - 55px);
        
    }
    .Contenido {
        padding-top: (100% - 30px);
        margin-bottom: 10%;
        margin-left: 0%;
    }
    .categorias {
        box-sizing: border-box;
        padding: 10px;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .carr button {

        font-size: 90%;
        width: 100%;
        height: 100%;
    }
    .DSM button {
        animation: sizingDSM 10s infinite;
    }
    .IGDSM button {
        animation: sizingIGDSM 10s infinite;
    }
    .IGIRD button {
        animation: sizingIGIRD 10s infinite;
    }
    .IRD button {
        animation: sizingIRD 10s infinite;
    }
    .barra .menu {
        visibility: visible;
    }
    .carr {
        
        color: white;
        font-weight: bolder;
        text-align: center;
        justify-content: center;
        width: 45%;
        height: 200px;
        padding: 0px;
}}
/*
@media (max-width: 1010px) {
    .carr {
        height: auto;
    }
    .contenedorCat {
        padding-left: 0px;
        height: 90%;
    }
    .Contenido {
        margin-left: 0%;
        margin-top: calc(70px - 0px);
    }
    .centro {
        box-sizing: border-box;
        border-radius: 3px;
        padding: 5px;
        margin: 0 auto;
        box-shadow: 0px 0px 2px 0px black;
        text-align: center;
        width: 0%;
        padding-bottom: 5%;
        height: calc(200% - 100px);
    }
    
}
/*
@media (max-width: 1092) {
    .centro {
        height: calc(200% - 100px);
    }
    .categorias {
        background-color: gray;
        width: 50%;
    }
}
@media (max-height: 400px) {
    .centro {
        height: calc(200% - 100px);
    }
}
*/
.DSM button {

}
.IGDSM button {

}
.IRD button {

}
.IGIRD button {

}

@keyframes sizingDSM {
    0% {
    transform: translateX(-10%);
    transition: 300ms;
    width: 75%;
    margin-right: 10%;
    }

    25% {
        transform: translateX(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        height: 100%;
        transform: translateY(0%);
        margin-left: 0%;
    }
    50% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 125%;
        margin-right: 0%;
        margin-left: 0%;
    }
    75% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 100%;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    100% {
    transform: translateX(-10%);
    transition: 300ms;
    width: 75%;
    margin-right: 10%;
    }

}
@keyframes sizingIGDSM {
    0% {
    transform: translateX(-20%);
    transition: 300ms;
    width: 125%;
    margin-right: -20%;
    }
    25% {
        height: 100%;
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    50% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        height: 75%;
        margin-right: 0%;
        margin-left: 0%;
    }
    75% {
        height: 100%;
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    100% {
    transform: translateX(-20%);
    transition: 300ms;
    width: 125%;
    margin-right: -20%;
            }

}



@keyframes sizingIGIRD {
    0% {
    transform: translateX(10%);
    transition: 300ms;
    width: 75%;
    margin-right: -10%;
    }

    25% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    50% {
        transform: translateX(0%);
        transform: translateY(-20%);
        transition: 300ms;
        height: 125%;
        margin-right: 0%;
        margin-left: 0%;
    }
    75% {
        transform: translateY(0%);
        transform: translateX(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    100% {
    transform: translateX(10%);
    transition: 300ms;
    width: 75%;
    height: 100%;
    margin-right: -10%;
    }

}
@keyframes sizingIRD {
    0% {
    transform: translateX(0%);
    transition: 300ms;
    width: 125%;
    margin-left: 0%;
    }
    25% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    50% {
        transform: translateX(0%);
        transform: translateY(32.5%);
        transition: 300ms;
        height: 75%;
        margin-right: 0%;
        margin-left: 0%;
    }
    75% {
        transform: translateX(0%);
        transform: translateY(0%);
        transition: 300ms;
        width: 100%;
        height: 100%;
        margin-right: 0%;
        margin-left: 0%;
    }
    100% {
    transform: translateX(0%);
    transition: 300ms;
    width: 125%;
    margin-left: 0%;
    }

}
footer {
    margin-top: 5%;
    align-items: center;
    align-content: center;
    padding-bottom: 10%;
    align-self: center;
    padding-top: 10px;
    background-color: rgb(0, 20, 91);
    position: sticky;
    width: 100%;
    color: rgb(255, 255, 255);
    
    text-align: center;
}
.footer .contentFooter {
    display: table;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.footer h1 {
    padding-top: 15px;
    font-family: 'Urbanist', sans-serif;
    font-size: 35px;
    font-weight: 100;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer .imagen {
    align-items: center;
    align-content: center;
    font-size: 35px;
    display: inline;
    text-align: center;
    margin-left: 0px;
}
.footer .imagen a{
    padding-left: 10px;
    padding-right: 10px;
}
.footer img {
    align-content: center;
    width: 25%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.footer .terms {
    text-align: left;
}
.iconsFooter {
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 35px;
}
.iconsFooter a {
    padding-left: 15px;
    padding-top: 45px;
    padding-right: 15px;
}
.endFooter {
    position: sticky;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    padding: 5%;
    background-color: black;
    color: white;
}
.footer .imagSmartphone {
    display: none;
}
@media (max-width: 936px) {
    .iconsFooter {
    display: inline;
    }
.footer .contentFooter {
    padding-left: 5px;
    padding-right: 5px;
    gap: 10%;
}
.footer .imagSmartphone {
    display: inline;
    width: 25%;
    }
.footer .imagen {
    display: none;
    }
}
@media (max-width: 630px) {
.footer .imagSmartphone {
    display: inline;
    width: 45%;
    }
}
@media (max-width: 335px) {
    .footer .imagSmartphone {
        display: inline;
        width: 50%;
        }
    }

    .circle {
        margin-right: 10px;
        border: 1px solid blue;
        right: 10px;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: #2e75e7; /* Cambia el color de fondo según tus preferencias */
        color: white;
        font-size: 27px;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        transition: 0.3s;
        cursor: pointer;
        }
        .circle:hover {
        transition: 0.3s;
        background-color: #c4d1ff;
        color: blue;
        }
    .derecha {
        margin-top: 56px;
        position: fixed;
        margin-left: 100%;
        height: 100%;
        border-right: 10px solid green;
        width: 250px;
        z-index: 999;
        display: none;
        background-color: rgb(239, 238, 255);
    }

    .catDerecha {
        width: 100%;
        margin-left: -7px;
        background-color: #2e75e7;
        box-sizing: border-box;
    }
    .catDerecha:hover {
        width: 100%;
        margin-left: -7px;
        background-color: #3248dc;
    }
    .botonCerrar {
        cursor: pointer;
        width: 100%;
        margin-left: -7px;
        background-color: rgb(43, 100, 207);
        box-sizing: border-box;
    }
    .botonCerrar:hover {
        width: 100%;
        margin-left: -7px;
        background-color: #3248dc;
    }
    .derechaVisible {
        margin-top: 56px;
        transition: 0.3s;
        position: fixed;
        margin-left: 100%;
        height: 100%;
        border-right: 10px solid green;
        width: 250px;
        z-index: 999;
        display: inline;
        background-color: rgb(0, 0, 0);
        animation: leftRightUserAnimation 0.3s forward;
    }

    .derechaInvisible {
        transition: 0.3s;
        margin-top: 56px;
        position: fixed;
        margin-left: calc(100% - 250px);
        height: 100%;
        border-right: 10px solid green;
        width: 250px;
        z-index: 999;
        display: inline;
        background-color: #2e75e7;
        animation: RightLeftUserAnimation 0.3s forward;
    }
    @keyframes RightLeftUserAnimation {
        from {
            transition: 0.3s;
            margin-left: calc(100% - 250px);
        }
        to {
            transition: 0.3s;
            margin-left: calc(100% - 0px);
        }
    }

    .PanelBotones {
        align-items: center; align-content: center; vertical-align: middle;
        text-decoration: none;
        border-radius: 5px;
        color: white;
        width: 90%;
        height: 60%;
        background-color: rgb(70, 103, 132);
        padding: 20px;
        transition: 0.3s;
    }
    .PanelBotones:hover {
        transition: 0.3s;
        color: rgb(70, 103, 132);
        box-shadow: 0px 0px 2px 0px #0a49af;
        background-color: rgb(255, 255, 255);
    }
    a {
        text-decoration: none;
    }
        @media (max-width: 680px) {
            .PanelBotones {
                padding: 10px;
            }
        }
        @media (max-width: 500px) {
            .PanelBotones {
                padding: 5px;
                font-size: 13px;
            }
            #BR {}
        }